body {
  margin: 0;
  padding: 0;
  margin: 0 auto;    
  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;   
  background-color: #849d8f;
  /*background-image: url("../img/gllacy-index-fon.jpg");*/
  background-position: center 0px;
  background-repeat: no-repeat;  
    
}

.catalog {    
  background-color: #849d8f;
  /*background-image: url("../img/gllacy-catalog-fon.jpg");*/
  /*background-image: url("../img/%D1%84%D0%BE%D0%BD%201.png");*/  
  background-position: center 0px;
  background-repeat: no-repeat;  
    
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
 text-decoration: none;   
}

a:hover,
a:active {
  color: #ffbc9e;  
}

.img {
  max-width: 100%;
  height: auto;
}

.button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;    
  text-align: center;
  color: #ffffff;
  vertical-align: middle;  
  -webkit-box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);  
          box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 35px;
}

.button:hover,
.button:focus {
  -webkit-box-shadow: 0px 2px 2px 0 #ac1000;
          box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843)), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2)));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843), -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-image: linear-gradient(to top, #e74a35, #f26843), linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.button:active  {
  -webkit-box-shadow: inset 0px 2px 2px 0 #942718;
          box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843)), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07)));
  background-image: -webkit-linear-gradient(top, #e74a35, #f26843), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(top, #e74a35, #f26843), -o-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));  
}

.main-header {
  position: relative;  
  min-height: 113px;  
  z-index: 2;
   
}

.main-header-catalog  {  
  min-height: 73px;
    
}

.container {
  width: 1146px;
  margin: 0 auto;
     
}

.container2 {
  width: 1200px;
  margin: 0 auto;
    
}


.main-navigation {  
  color: #ffffff;
  
}

.main-navigation {    
  display: -webkit-box;    
  display: -ms-flexbox;    
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  
  
}

.site-navigation,
.catalog-new,
.site-search,
.site-input,
.site-basket,
.footer-info  {
  list-style: none;
}

.site-navigation a,
.assortment-title,
.footer-info,
.html-academy {
  color: #ffffff;
  text-decoration: underline;    
}

.main-header-logo  {
  margin-right: 10px;
  margin-top: 9px;    
}

.main-header-logo img  {
  width: 154px;
  height: 63px;
}

.site-navigation  {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  min-width: 377px;
  min-height: 32px;  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;    
  font-size: 16px;
  line-height: 18px;   
  margin: 0;
  padding: 0;
  margin-top: 23px;
  list-style: none;
    
}

.site-navigation li:nth-child(1) {
  position: relative;   
}


.site-navigation>li>a {
  display: block;  
  color: #ffffff;
  text-decoration: underline;
  padding: 0px;
  margin: 0px;  
  margin-left: 0px;    
  padding-top: 6px;
  padding-left: 14px;
  padding-bottom: 7px;
  padding-right: 13px;   
  border-radius: 20px;      
}

.catalog-page {
  display: block;
  background-color: #d07058;
  padding: 0px;
  margin: 0px;  
  padding: 6px 13px 7px 14px;
  border-radius: 30px;
  text-decoration: none;    
}


.site-navigation>li>a:hover,
.site-navigation>li>a:focus
 {
  color: #000000;   
  background-color: #f7f6f3;
  text-decoration: none;   
}

.catalog-new  {
  position: absolute;
  top: 31px;
  left: -7px;    
  display: none;
  margin: 0px;
  padding: 0px;  
  padding-top: 8px;  
  list-style: none;  
  color: #323232;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 143px;
  min-height: 171px;  
  border-radius: 5px;  
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);  
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
    
}


.catalog-new li:nth-child(1) {   
  font-size: 14px;
  line-height: 16px;  
  padding-bottom: 14px;
  padding-left: 16px;  
  margin-left: 6px;
  margin-right: 9px;  
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);   
}


.catalog-new a  {
  display: block;   
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  text-decoration: none;  
  text-align: left;
  color: #323232;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 21px;   
}

.catalog-new a:hover {
  background: #fbded7;  
}

.catalog-new a:active {
  background: #f6b5a5;  
}


.site-navigation>li:hover .catalog-new {
  display: block;
}

.site-search  {
  position: relative;
  width: 33px;
  height: 33px;  
  margin-left: auto;
  margin-right: 7px;
  margin-top: 22px;
  margin-bottom: 0px;  
    
}

.site-search a  {
  position: relative;  
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 33px;
  height: 33px;
  color: #ffffff;  
  text-align: center;
  vertical-align: middle;  
  border-radius: 50%;
  padding-top: 7px;  
  background: #9db1a5;    
}

.site-search:hover>a {
  fill: #323232;    
  background-color: rgba(255, 255, 255, 0.8);
    
}

.site-search:hover path {
  fill: #323232;
}

.search-form {
  display: none;  
  position: absolute;
  bottom: -88px;
  right: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 341px;
  height: 84px;
  margin-top: 4px;  
  padding: 20px 5px 20px 15px;  
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  color: #999999;  
  background-color: #f8f7f4;  
}

.site-search:hover .search-form {
  display: block;  
}

.search-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 311px;
  height: 44px;
  border-radius: 5px;  
  padding: 16px 0px 15px 15px;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  border-color: #d3d3d2;  
  background-color: #ffffff;  
}

input:hover {
  border-color: rgba(154, 154, 154, 0.52);    
}

input:active,
input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);    
}



.site-input  {
  position: relative;    
  margin: 0px;
  padding: 0px;  
  margin-top: 22px;    
  margin-right: 7px; 
}

.site-input a  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  
  -webkit-box-sizing: border-box;  
          box-sizing: border-box;  
  width: 93px;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  vertical-align: text-top;  
  margin: 0px;
  padding: 0px;    
  color: #ffffff;  
  padding-top: 6px;
  padding-right: 17px;
  padding-bottom: 7px;
  padding-left: 16px;
  border-radius: 25px;  
  background-color: #9db1a5;
   
}

.site-input .entrance {
  display: inline-block;  
  padding-left: 7px;  
}

.site-input g {
  fill: #ffffff;  
}

.site-input a:hover {
  color: #323232;
  background-color: #f8f7f4;    
}

.site-input a:hover g {
  fill: #000000;  
}

.login-form {
  font-family: inherit;  
  display: none;
  position: absolute;
  bottom: -196px;
  right: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 277px;
  height: 214px;
  border-radius: 5.1px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.login-email {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 241px;
  height: 44px;
  font-size: 14px;
  line-height: 24px;  
  border-radius: 5px;
  border: 2px solid #d3d3d2;   
  background-color: #ffffff;  
  color: #999999;
  margin: 0px;
  padding: 0px;
  padding-left: 15px;  
  margin-left: 19px;
  margin-right: 17px;  
    
}

.login-password {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 241px;
  height: 44px;
  font-size: 14px;
  line-height: 24px;  
  color: #999999;  
  border-radius: 5px;
  border: 2px solid #d3d3d2;  
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  padding-left: 15px;  
  margin-left: 19px;
  margin-right: 17px;  
   
}

.button-restore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  -webkit-box-align: center;  
      -ms-flex-align: center;  
          align-items: center;
  margin: 0px;
  padding: 0px;
  margin-top: -7px;  
  
}

.button-restore .button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 100px;
  height: 44px;  
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  color: #fefefe;
  margin: 0;
  padding: 0;
  margin-left: 19px;
  margin-right: 19px;  
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;    
  -webkit-box-shadow: 0px 1px 2px 0 var(#ac1000);    
          box-shadow: 0px 1px 2px 0 var(#ac1000);  
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(#e74a35)), to(#f26843));  
  background-image: -webkit-linear-gradient(bottom, var(#e74a35), #f26843);  
  background-image: -o-linear-gradient(bottom, var(#e74a35), #f26843);  
  background-image: linear-gradient(to top, var(#e74a35), #f26843);  
}

.login-password-info {
  min-width: 130px;  
  min-height: 44px;  
  margin: 0px;
  padding-left: 1px;
   
}

.login-password-info .restore {
  display: block;
  min-width: 127px;  
  font-size: 13px;
  line-height: 24px;  
  padding: 0px;
  margin: 0px;    
  color: #323232;  
  background: none;
  text-align: left;  
  text-decoration: underline;   
}

.login-password-info .registration {
  display: block;
  min-width: 130px;  
  font-size: 13px;
  line-height: 24px;     
  padding: 0px;
  margin: 0px;    
  color: #323232;  
  background: none;
  text-decoration: underline;
  text-align: left;  
}

.site-input:hover .login-form {
  display: block;  
}

.site-basket {    
  margin: 0px;
  padding: 0px;
  margin-top: 22px;  
}

.site-basket a  { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  
  font-size: 14px;
  line-height: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  min-width: 100px;    
  margin: 0;
  padding: 0;  
  margin-right: 0px;
  margin-left:  3px;    
  padding: 6px 17px  6px 16px;
  border-radius: 25px;  
  background-color: #9db1a5;
  color: #ffffff;    
}

.basket {
  padding-left: 7px;  
}


.site-basket2 {
  position: relative;  
}

.site-basket2:hover .your-order {
  display: block;  
}

.site-basket2 a {    
  -webkit-box-sizing: border-box;    
          box-sizing: border-box;  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  
  list-style: none;
  font-size: 14px;
  line-height: 16px;  
  width: 117px;
  opacity: 0.2;
  background-color: #ffffff;  
  margin: 0;
  padding: 0;
  margin-top: 21px;  
  margin-right: 0px;
  margin-left:  3px;    
  padding: 7px 15px 5px 14px;
  border-radius: 25px;  
  color: #323232;   
}

.your-order {
  position: absolute;
  display: none;  
  top: 60px;
  right: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 18px;
  padding-left: 16px;  
  width: 540px;
  height: 242px;
  border-radius: 5px;
  background: #f8f7f4 url("../img/f-zakaz.jpg");  
}



.your-order table {
  border-collapse: collapse;    
  width: 510px;
  border: 1px solid black; 
  margin: 0px;
  padding: 0px;    
  font-size: 13px;
  font-weight: normal;  
  line-height: 16px;
  color: #323232;
   
}

.your-order .tr1 {    
  width: 510px;   
  margin: 0px;
  padding: 0px;  
  padding-top: 0px;      
  vertical-align: top;     
}

 .tr2 {   
  vertical-align: top;   
  padding: 0px;
  margin: 0px;    
  border-bottom: 1px solid #cacac7;   
}

td {
 outline: 1px solid red;
 padding-top: 10px;
 padding-bottom: 17px;   
}

.tr2 td {
  padding-bottom: 15px;  
}

.del {   
  width: 15px;
  padding-top: 12px;  
}

.your-order-del {
  display: block;  
  width: 11px;
  height: 11px;
  content: "";  
  text-align: center;
  vertical-align: center;
  padding: 0px;
  margin: 0px;
  margin-left: 3px;    
  background-color: none;
  box-shadow: none;
  border: none;  
  background-image: url("../img/svg-gllacy/svg-gllacy/cross-small.svg") no-repeat center;
  outline: 1px solid red;  
}

.small-img {
  width: 33px;
  padding-top: 0px;
}

.small-img img{
  width: 33px;
  height: 33px;  
  border-radius: 50%;  
  padding: 0px;
  margin: 0px;
    
}

.order-name {
  width: 187px; 
}

.kollichestvo {
  width: 93px;    
}

.kollichestvo span {
  color: #999999;  
}

.castom {
  width: 50px;    
}

.summa {
  display: block;  
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;  
  color: #323232;
  margin-right: 15px;  
  text-align: right;  
}

.registration {
  position: absolute;
  bottom: 10px;
  right: 14px;  
  width: 171px;
  height: 46px;
  color: #ffffff;  
  background: none;  
  /*-webkit-box-shadow: 0px 1px 2px 0 var(--#ac1000);
          box-shadow: 0px 1px 2px 0 var(--#ac1000);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(var(--#f26843)));
  background-image: -webkit-linear-gradient(bottom, #e74a35, var(--#f26843));
  background-image: -o-linear-gradient(bottom, #e74a35, var(--#f26843));
  background-image: linear-gradient(to top, #e74a35, var(--#f26843));*/
  margin-bottom: 10px;
  margin-top: auto;    
}

.header-worktime {
  margin-top: -4px;
  margin-bottom: 0px;  
  font-size: 14px;  
  line-height: 16px;
  text-align: right;
  letter-spacing: normal;
  color: #ffffff;  
}

.header-contact {
  margin-top: 3px;  
  font-size: 22px;  
  line-height: 24px;
  text-align: right;  
}

.main {
  position: relative;    
}

.index-page {
  padding-top: 186px;  
}

.breadcrumbs-worktime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1146px;  
  
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 2px;  
}

.breadcrumbs {    
  display: -webkit-box;    
  display: -ms-flexbox;    
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 220px;
  list-style: none;  
  font-size: 14px;
  font-weight: normal;
  line-height: 1.14;
  color: #ffffff;
  margin: 0px;
  padding: 0px;  
  margin-top: 21px;  
}

.breadcrumbs a {
  position: relative;  
  font-size: 14px;
  font-weight: normal;
  line-height: 1.14;
  color: #ffffff;   
}

.breadcrumbs a:after {
  display: block;  
  position: absolute;
  top: 0px;
  right: -19px;
  content: "»";
  font-size: 14px;
  line-height: 16px;  
  width: 11px;
  height: 11px;    
}

.w-contact {
  margin-top: -20px;
  margin-bottom: 0px;  
}

.worktime {
  margin-bottom: 5px;  
  font-size: 14px;
  font-weight: bold;  
  line-height: 1.14;
  text-align: right;  
  color: #ffffff;   
}

.contact {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.09;
  text-align: right;  
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;  
  color: #ffffff;  
}

.cream-ice {  
  font-size: 35px;
  font-weight: bold;
  line-height: 1.17;
  color: #ffffff;
  padding: 0px;
  margin: 0px;    
}

.filters {
  min-width: 860px;
  min-height: 131px;
  margin-bottom: 32px;  
}

.string {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;  
  width: 860px;   
}

.string:first-child {
  margin-bottom: 4px;    
}

fieldset {
  border: none;  
}

.filter-input {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 35px;  
}

.sort {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  min-width: 194px;  
  margin: 0px;
  padding: 0px;  
  margin-top: 26px;    
}

.sort-legend {
  font-size: 14px;
  font-weight: 500;  
  line-height: 16px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 6px;  
  padding-left: 16px;  
  color: #ffffff;   
}

.sort-button {
  display: block;  
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 194px;
  min-height: 37px;  
  color: #ffffff;
  background:rgba(255, 255, 255, 0.2)  url("../img/svg-gllacy/svg-gllacy/select-arrow.svg") no-repeat;
  background-position: right;
  background-size: 9px, 5px;  
  border: none;  
  padding: 0px;
  margin: 0px;
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left: 11px;
  padding-right: 10px;    
}

.sort-batton img {
  display: block;  
  width: 11px;
  height: 14px;   
}

.filter-price {
  width: 220px;
  color: #ffffff;
  margin-top: 24px;
  margin-right: 28px;  
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 163px;  
  height: 20px;
  margin-left: 29px;  
  margin-bottom: 5px;  
}
 
.price-controls span,
.price-controls input {    
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 0px;
  margin: 0px;  
  color: #ffffff;
  cursor: pointer;    
}

.price-controls span{
  margin-top: 2px;  
}

.price-controls .dash {
  margin-left: 4px;  
}

.price-controls input {
  min-width: 52px;
  text-align: right;  
  background: none;
  border: none;  
}

.range-controls {
  position: relative;
  width: 219px;
  height: 37px;  
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 15px;  
  margin-bottom: 10px;
}

.range-controls .scale {
  position: absolute;
  top: 17px;
  left: 22px;  
  height: 4px;
  width: 176px;
  background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  position: absolute;
  top: 0px;
  left: 16px;  
  width: 107px;
  height: 4px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;    
  top: 8px;    
  width: 4px;
  height: 4px;  
  border: 8px solid #ffffff;
  border-radius: 50%;  
  cursor: pointer;
  background-color: #849d8f;  
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 35px;
}

.range-toggle-max {
  left: 132px;
}

legend,
sort-legend {
  font-size: 14px;
  font-weight: 500;  
  line-height: 16px;
  padding: 0px;
  margin: 0px;    
  color: #ffffff;
}

.fat {
  margin: 0px;
  padding: 0px;           
}

.fat legend {
  padding-left: 0px;
  margin-top: 26px;  
}

.fat-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between ;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  
  -webkit-box-sizing: border-box;  
          box-sizing: border-box;  
  width: 416px;
  height: 37px;
  list-style: none;  
  padding: 0px;
  margin: 0px;
  margin-top: 1px;
  padding-left: 14px;
  padding-right: 19px;  
  background-color: #aabcb2;  
  border-radius: 35px;  
}

.filter-fat {
  position: relative;
  margin: 0px;
  padding: 0px;  
}

.filter-fat label {
  font-size: 16px;
  font-weight: 500;  
  line-height: 1.13;
  color: #ffffff;
  margin: 0px;
  padding: 0px;    
  padding-left: 32px;
    
}

  .filter-fat:before {
  position: absolute;
  top: 0px;  
  left: 0px;    
  width: 22px;
  height: 22px;
  content: "";  
  background: url("../img/svg-gllacy/svg-gllacy/radio-off.svg") no-repeat center;
  background-size: cover;  
}

.filter-fat:nth-child(2):before {
  position: absolute;
  top: 0px;  
  left: 0px;    
  width: 22px;
  height: 22px;
  content: "";  
  background: url("../img/svg-gllacy/svg-gllacy/radio-on.svg") no-repeat center;
  background-size: cover;    
}

.string fieldset {
  min-width: 703px;
  min-height: 37px;  
  padding: 0px;
  margin: 0px;   
}

.string legend {
  display: block;  
  margin-left: 16px;
  margin-bottom: 6px;    
}

.sweet-supplements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  
  -webkit-box-sizing: border-box;  
          box-sizing: border-box;  
  width: 703px;
  height: 37px;
  list-style: none;  
  padding: 0px;
  margin: 0px;
  padding-left: 16px;
  padding-right: 20px;
  margin-left: 0px;  
  background-color: #aabcb2;  
  border-radius: 35px;    
}

.filter-additives {
  position: relative;  
}

.filter-additives label {
  font-size: 16px;
  font-weight: 500;  
  line-height: 1.13;
  color: #ffffff;
  padding-left: 32px;  
}

.filter-additives:before {
  position: absolute;
  top: 1px;  
  left: 0px;
  width: 20px;
  height: 20px;
  content: "";  
  background: url("../img/svg-gllacy/svg-gllacy/checkbox-off.svg") no-repeat center; background-size: cover; 
}

.filter-additives:nth-child(1):before,
.filter-additives:nth-child(2):before {
  position: absolute;
  top: 1px;  
  left: 0px;
  width: 26px;
  height: 20px;
  content: "";  
  background: url("../img/svg-gllacy/svg-gllacy/checkbox-on.svg") no-repeat center; background-size: cover;  
}

.filter-button {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;  
  -webkit-box-sizing: border-box;  
          box-sizing: border-box;  
  min-width: 144px;
  height: 37px;
  color: #ffffff;  
  padding: 0px;
  margin: 0px;
  margin-top: 23px;  
  padding-left: 4px;
  padding-top: 6px;
  padding-bottom: 9px;  
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 35px;  
}



.main-wrapper {
  
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;  
  transition: background-image 0.5s ease, background-color 0.5s ease;  
  
}

.main-wrapper::before,
.main-wrapper::after {
  content: "";
  visibility: hidden;
}

.main-wrapper::before {
  background-image: url("../img/slider-item2.png");
}

.main-wrapper::after {
  background-image: url("../img/slider-item3.png");
}


.slider {
  position: relative;  
  padding-top: 0px;
  margin-bottom: 40px;  
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;  
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0px;
  padding: 0px;  
  margin: 0 auto;
  margin-top: 67px;  
  margin-bottom: 31px;  
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.slide-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .main-wrapper {
  background-color:  #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .main-wrapper {
  background-color:  #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .main-wrapper {
  background-color:  #9d8b84;  
  background-image: url("../img/slider-item3.png");
}

 #product-2:checked + body  {
  
  background-color: red;
}


#product-1:checked ~ .main-wrapper #slide1,
#product-2:checked ~ .main-wrapper #slide2,
#product-3:checked ~ .main-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .main-wrapper label[for="product-1"],
#product-2:checked ~ .main-wrapper label[for="product-2"],
#product-3:checked ~ .main-wrapper label[for="product-3"] {
  background-color: #ffffff;
}










.stock  {
  position: relative;
  z-index: 2;  
  width: 1146px;  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;  
  -webkit-box-pack: justify;  
      -ms-flex-pack: justify;  
          justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;  
  margin: 0 auto;
  margin-top: 0px;  
  margin-bottom: 33px;    
}


.stock .stock-block  {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;    
  -webkit-box-orient: vertical;    
  -webkit-box-direction: normal;    
      -ms-flex-direction: column;    
          flex-direction: column;  
  width: 560px;
  min-height: 229px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;    
}

.stock .stock-block1  {  
  background: #9a061c url(../img/raspberry-fon.jpg) no-repeat center;   
}

.stock .stock-block2  {  
  background: #5c372c url(../img/shokolate-fon.jpg) no-repeat center;   
}

.stock h2  {
  margin: 0px;
  padding: 0px;
  margin-top: 15px;
  margin-left: 17px;      
  font-size: 35px;
  line-height: 41px;    
}

.stock p  {
  margin-left: 20px;  
  margin-right: 26px;
  margin-top: 15px;  
  font-size: 18px;
  line-height: 22px;    
}

.stock-button {
  -ms-flex-item-align: end;
      align-self: flex-end;  
  margin-top: auto;  
  margin-bottom: 27px;     
  margin-right: 23px;
  margin-left: auto;  
  padding: 10px 20px 10px 20px;    
  font-size: 18px;
  line-height: 24px;  
  text-align: center;  
}

.assortment {
  margin-bottom: -36px;
    
}

.assortment-catalog {
  margin-bottom: 49px;  
}

.assortment ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width:1172px;
  min-height: 405px;  
  list-style: none;
  margin: 0px;    
  padding: 0px;
  margin-left: -13px;
  margin-right: -13px;  
}

.assortment-catalog ul {
  width:1172px;
  min-height: 1048px;
  margin-left: -13px;
  margin-right: -13px;  
}

.assortment li {
  position: relative;  
  width:293px;
  min-height: 405px;
  color: #f8f7f4;
  background: none;
  text-align: center;
  border-radius: 15px;  
  padding: 0px;
  margin: 0px;
  font-weight: 500;  
  text-align: center;
  margin: 0px;
  padding: 0px;      
}

.assortment-catalog li {
  position: relative;  
  width:293px;
  min-height: 405px;
  color: #f8f7f4;
  background: none;
  text-align: center;
  border-radius: 15px;  
  padding: 0px;
  margin: 0px;
  font-weight: 500;  
  text-align: center;
  margin: 0px;
  padding: 0px;  
  margin-bottom: -46px; 
}
  

.assortment li:hover,
.assortment li:focus,
.assortment-catalog li:hover,
.assortment-catalog li:focus {
  z-index: 10;  
  background: #9bafa3;  
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);  
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);  
}

.assortment-imgprice  {
  position: relative;  
  width: 267px;  
  height: 267px;
  margin: 0 auto;
  margin-top: 6px;  
  margin-bottom: 14px;    
}

.hit {
  position: absolute;
  top: 0px;
  left: 0px;  
  width: 61px;  
  height: 61px;
  border-radius: 50%;    
}

.assortment-img  {
  width: 267px;  
  height: 267px;
  border-radius: 50%;
  
}

.assortment-imgprice p {
  position: absolute;
  left: -1px;
  bottom: -38px;  
  font-size: 45px;
  line-height: 45px;  
}

.assortment-imgprice .r {
  font-size: 45px;
  line-height: 45px;  
  margin-left: 5px;    
}

.assortment-imgprice .kg {  
  font-size: 30px;
  line-height: 45px;
}

.assortment-title {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 256px;  
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  text-align: center;    
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 38px;  
     
}

.assortment-catalog .assortment-title  {  
  margin-bottom: 77px;  
    
}

.quick-view  {
  position: absolute;
  bottom: 11px;
  left: 50%;  
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  min-width: 200px;  
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;  
  -webkit-box-shadow: 0px 1px 2px 0 #ac1000;  
          box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  padding: 0px;
  margin: 0px;    
  margin-left: -100px;    
  padding: 13px 16px 13px 16px;  
}

.assortment li:hover .quick-view,
.assortment li:focus .quick-view  {
  display: block;  
}



.advantage {
  padding: 24px 33px 0px 21px;
  margin-bottom: 39px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 1146px;
  min-height: 290px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
  background: #f0e5cc url(../img/waffle-fon.jpg) repeat; 
}

.advantage h3 {
  margin: 0px;
  padding: 0px;  
  margin-bottom: 20px;    
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #323232;
}

.advantage ul {
  margin: 0px;
  padding: 0px;  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;  
  -ms-flex-wrap: wrap;  
      flex-wrap: wrap;  
  width: 1093px;  
  list-style: none;    
  font-size: 16px;
  font-weight: normal;
  line-height: 1.38;
  color: #323232;
   
}

.advantage li {
  position: relative;  
  -webkit-box-sizing: border-box;  
          box-sizing: border-box;  
  width: 531px;
  margin-bottom: 24px;
  padding-left: 55px;  
    
}

.advantage li:nth-child(2n) {
  padding-left: 60px;  
}

.advantage li:before {
  position: absolute;
  top: -12px;
  left: -1px;  
  display: block;
  content: "";  
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background:  url("../img/svg-gllacy/svg-gllacy/ice-cream.svg") no-repeat center;  
}

.advantage li:nth-child(1):before {
  background:  url("../img/svg-gllacy/svg-gllacy/ice-cream.svg") no-repeat center;  
}

.advantage li:nth-child(2):before {
  position: absolute;
  top: -11px;
  left: 3px;  
  background:  url("../img/svg-gllacy/svg-gllacy/cow.svg") no-repeat center;  
}

.advantage li:nth-child(3):before {
    
  background: url("../img/svg-gllacy/svg-gllacy/eco.svg") no-repeat center;  
}

.advantage li:nth-child(4):before {
  position: absolute;
  top: -11px;
  left: 3px;  
  background:  url("../img/svg-gllacy/svg-gllacy/thermometer.svg") no-repeat center;  
}


.new-and-subscription  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;  
}

.new-in-blog  {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 560px;
  min-height: 220px;  
  border-radius: 15px;    
  background:  url(../img/strawberry-background.jpg) no-repeat center;
  background-size: cover;   
    
} 

.new-in-blog p  {
  margin-top: 26px;  
  margin-left: 20px;    
  margin-bottom: 4px;    
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 22px;
  color: #323232;    
}  

.new-in-blog a  {
  display: block;
  margin: 0px;
  padding: 0px;  
  margin-left: 20px;
  margin-right: 257px;  
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;    
}

.subscription  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  box-sizing: border-box;  
  width: 560px;
  min-height: 220px;
  border-radius: 10px;
  background-color: #f8f7f4;   
  border-radius: 15px;  
  border: 6px solid blue;
  -webkit-border-image: url("../img/mail-fon.png") 6 6 6 6 stretch;  
  -o-border-image: url("../img/mail-fon.png") 6 6 6 6 stretch;  
     border-image: url("../img/mail-fon.png") 6 6 6 6 stretch;  
}

.subscription p {
  margin-top: 29px;  
  margin-left: 20px;
  margin-right: 22px;  
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.38;
  text-align: left;
  color: #5a5a5a;  
}

.subscription-form {    
  margin-left: 20px;
  margin-right: 20px;  
  margin-bottom: 35px;
  margin-top: auto;
  padding: 0px;  
  vertical-align: middle;  
   
}

.subscription-form input {  
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 368px;
  height: 44px;  
  margin-right: 7px;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 15px;  
}

.subscription-form button  {  
  margin: 0px;    
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 129px;
  height: 44px;  
  font-size: 18px;
  font-weight: bold;  
  line-height: 24px;
  text-align: center;
  padding: 6px 19px 8px 19px;  
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));  
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);  
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);  
  background-image: linear-gradient(to top, #e74a35, #f26843);  
}

.map-contacts {
  position: relative;
  width: 1200px;
  height: 429px;  
} 

iframe {    
 width: 1200px;
 height: 430px;   
}

.ice-cream-icon {
  position:absolute;
  top: 135px;
  left: 265px;
  z-index: 5;  
  width: 80px;
  height: 140px;
  content: "";
  background: url("../img/svg-gllacy/svg-gllacy/pin.svg") no-repeat center;   
}

.contacts {
  position: absolute;
  top: 63px;
  right: 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 302px;
  height: 305px;
  padding: 0px;
  margin: 0px;  
  border-radius: 5px;  
  background-color: #ffffff;  
}


.contacts .adres {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  padding: 0px;
  margin: 0px;  
  margin: 28px 129px 0px 25px;
  color: #323232;
    
}

.street {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  padding: 0px;
  margin: 0px;
  margin-top: 1px;  
  margin-left: 25px;
  margin-right: 50px;    
  color: #323232;
    
}

.telefon-zakaz {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  text-align: left;
  padding: 0px;
  margin: 0px;
  margin-top: 19px;  
  margin-left: 25px;
  margin-right: 100px;
  margin-bottom: 0px;  
  color: #323232;
    
}

.telefon-namber {
  font-size: 18px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  margin-top: 5px;  
  margin-left: 25px;
  margin-right: 100px;
  margin-bottom: 0px;  
  color: #323232;
}

.time-work {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.57;
  padding: 0px;
  margin: 0px;
  margin-top: 1px;  
  margin-left: 25px;
  margin-right: 100px;
  margin-bottom: 0px;    
  color: #323232;  
}

.feedback-b {
  display: block;  
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 0px;
  padding: 0px;  
  padding: 11px 28px 11px 28px;
  margin-top: 23px;  
  margin-bottom: 35px;
  margin-left: 24px;  
  color: #fefefe;  
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;    
  -ms-flex-wrap: wrap;    
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;  
  width: 190px;
  min-height: 26px;  
  padding: 0;
  margin: 0;
    
  margin-left: auto;
  margin-right: 4px;
  margin-bottom: 30px;  
  list-style: none;
  outline: 1px solid black;  
}

.pagination-list:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: none;  
  -webkit-box-shadow: -2px 2px 0px #ffffff;
          box-shadow: -2px 2px 0px #ffffff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 10px;
  margin-right: 9px; 
}


.pagination-list:after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: none;  
  -webkit-box-shadow: 2px -2px 0px #ffffff;  
          box-shadow: 2px -2px 0px #ffffff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 8px;
  margin-right: 0px;
  margin-left: 10px;  
}

.pagination-item a {
  display: block;  
  font-size: 16px;
  line-height: 18px;
  margin-left: 3px;  
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 26px;
  height: 25px;    
  padding-top: 3px;
  padding-bottom: 13px;  
  padding-left: 8px;
  padding-right: 11px;  
}

.pagination-item-current a {
  display: block;  
  font-size: 16px;
  line-height: 18px;
  margin-left: 3px;  
  color: #323232;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 26px;
  height: 25px;
  border-radius: 50%;       
  background-color: #ffffff;
  border:1px solid #ffffff;
  text-align: center;
  vertical-align: middle  
}

.pagination-item a:hover {
  display: block;  
  background-color: rgba(255, 255, 255, 0.2);
    
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  border-radius: 50%;
 
    
  border:1px solid #ffffff;    
}



.footer-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;    
  -webkit-box-pack: justify;    
      -ms-flex-pack: justify;    
          justify-content: space-between;
  min-height: 103px;  
}





.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;  
  width: 185px;
  list-style: none;  
  padding: 0px;
  margin: 0px;
  
}

.social-button  {
  display: block;    
  width: 32px;
  height: 32px;
  vertical-align: middle;
  text-align: center;  
  border: 3px solid  #c2cec7;
  border-radius: 50%; 
  margin-top: 36px;   
}

.social-button path {
    fill: #e6ebe9;
}

.social-button:hover {
  border: 3px solid #dae2de;    
}

.social-button:hover path {
  fill: #ffffff;  
}


.social-button:active {
  border: 3px solid #dae2de;    
}

.social-button:active path {
  fill: #e9e9e9;  
}

.main-footer .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
   
  -ms-flex-wrap: wrap;
   
      flex-wrap: wrap;
  align-contant: flex-start;  
  min-width: 360px;
  min-height: 38px;
  list-style: none;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38;  
  color: #ffffff;  
  margin: 0px;
  padding: 0px;
  margin-top: 33px;
  margin-left: 0px;    
}

.column-info1,
.column-info2 {
  list-style: none;
  padding: 0px;
  margin: 0px;  
}

.footer-info li {
  padding: 0px;
  margin: 0px;    
}

.footer-info a {
  display: block;  
  font-size: 13px;
  font-weight: bold;  
  color: #ffffff;
  padding: 0px;
  margin: 0px;    
  padding-left: 46px;    
  margin-bottom: 4px;  
  min-height: 13px;
  text-decoration: underline;    
}

.footer-info a:hover,
.footer-info a:active {
  color: #ffbc9e;  
}

.column-info2 a {
  padding-left: 30px;
  margin-left: 0px; 
  text-decoration: underline;  
}

.for-provider {
 position: relative;   
}

.for-provider:after {
   position: absolute;
   bottom: 2px;
   left: 25px; 
   display: block;
   content: ""; 
   width: 15px;
   height: 13px;
   background: url("../img/svg-gllacy/svg-gllacy/heart.svg"); 
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: flex-start;  
  min-width: 220px;
  min-height: 50px;
  margin-top: 18px; 
}

.logo-htmlacademy-small {
  display: block;  
  width: 108px;
  height: 39px;
  margin: 0px;
  padding: 0px;  
  margin-left: auto;
  margin-right: 80px;     
}

.logo-htmlacademy-small img {
  width: 108px;
  height: 39px;  
}

.maid {    
 display: inline-block;
 min-width: 190px;
    
 font-size: 12px;
 font-weight: normal;
 line-height: 1.5;
 color: #fefefe;
 margin-left: auto;
 margin-right: 0px;
 margin-top: 4px;
 padding-top: 0px;    
}

.maid a {
  display: inline-block;  
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  color: #fefefe;
  padding: 0px;
  margin: 0px;  
}

.maid a:hover {
  color: #ffbc9e;  
}

.modal {
  position: fixed;
  top: 337px;
  left: 50%;     
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 479px;
  height: 443px;  
  z-index: 30;
  margin-left: -217px;  
}

.feedback-form {   
  -webkit-box-sizing: border-box;   
          box-sizing: border-box;  
  width: 479px;
  height: 443px;
  border-radius: 10px;  
  padding: 0px;
  margin: 0px;  
  padding-top: 10px;
  padding-left: 30px;  
  background-color: #f8f7f4;
   
}

.ancer {
  display: block;  
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.17;
  color: #323232;
  padding: 0px;
  margin: 0px;
  margin-top: 4px;
  margin-left: -5px;  
    
}


.modal-close {
  position: absolute;
  top: 16px;
  right: 18px;  
  width: 18px;
  height: 18px;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;  
}

.modal-close:before,
.modal-close:after {
  position: absolute;
  top: 6px;
  right: -3px;
  content: "";  
  width:22px;
  height: 2px;
  background-color: #000000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);  
}

.modal-close:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);  
}

.popap-name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 267px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 5px;  
  padding: 0px;
  margin: 0px;
  margin-top: 2px;
  margin-left: -5px;
  margin-bottom: 17px;  
  padding-left: 15px;
  padding-top: 16px;
  padding-bottom: 12px;  
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;  
  color: #999999;  
}

.popap-email {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 267px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 5px;  
  padding: 0px;
  margin: 0px;
  margin-top: 2px;
  margin-left: -5px;
  padding-left: 15px;
  padding-top: 16px;
  padding-bottom: 12px;  
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;  
  color: #999999;    
}

.popap-coments {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  width: 428px;
  height: 155px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #999999;
  border: 2px solid #999999;
  border-radius: 5px;  
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 2px;
  margin-left: -5px;
  margin-bottom: 4px;  
  padding-left: 15px;
  padding-top: 16px;  
}

  
.popap-button {
  font-size: 18px;
  font-weight: bold;  
  line-height: 1.33;
  color: #fefefe;
  margin-left: 285px;  
  padding: 11px 24px 12px 23px;  
} 

.modal-show {
  display: block;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}



.modal-show {
  display: block;  
  -webkit-animation: bounce 1.6s;  
          animation: bounce 1.6s;
}

.modal-error {
  -webkit-animation: shake 5.6s;
          animation: shake 5.6s;
}



